@model DDWork.Models.User

@{
    ViewData["Title"] = "详情";
}

<h1>详情</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.privileges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.privileges)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.create_time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.create_time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-primary">编辑</a> |
    <a asp-action="Index" class="btn btn-info">返回列表</a>
</div>
